<ng-container *ngIf="!(loading$ | async); else loading">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text" class="form-control" [bsConfig]="bsConfig" #dp="bsDatepicker" bsDatepicker
          [(bsValue)]="initialValue" (bsValueChange)="onValueChange($event)">
      </div>
    </div>
    <div class="row">
      <app-month [month]="month"></app-month>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
