<ng-container *ngIf="!(loading$ | async); else loading">
  <div class="m-3">
    <h3>Daylogs</h3>
    <div class="row">
      <div class="col-md-3 form-group">
        <input type="text" class="form-control" [bsConfig]="bsConfig" #dp="bsDatepicker" bsDatepicker
          [(bsValue)]="initialValue" (bsValueChange)="onValueChange($event)">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-month [month]="month"></app-month>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
