<div class="m-3">
  <h3>Admin Panel</h3>
  <div class="tab-panel">
    <tabset #tabset class="member-tabset">
      <tab heading="{{ 'UserManagement' | translate }}">
        <ng-container *ngIf="tabset.tabs[0]?.active">
          <app-user-management></app-user-management>
        </ng-container>
      </tab>
      <tab heading="Muscles">
        <ng-container *ngIf="tabset.tabs[1]?.active">
          <app-muscles></app-muscles>
        </ng-container>
      </tab>
    </tabset>
  </div>
</div>
