<ng-container *ngIf="!(loading$ | async); else loading">
  <div class="m-3">
    <h3>Exercises</h3>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Difficulty</th>
          <th scope="col">Main muscle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exercise of exercises$ | async">
          <td><a [routerLink]="['.', exercise.id]">{{exercise.name}}</a></td>
          <td>{{exercise.type}}</td>
          <td>{{exercise.difficulty}}</td>
          <td>{{exercise.mainMuscleName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
