<form [formGroup]="form" (ngSubmit)="form.dirty && form.valid && onSubmit()">

  <div class="modal-header">
    <h4 class="modal-title pull-left">Edycja użytkownika {{user.userName}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <pre>{{form.getRawValue() | json}}</pre>
    <pre>{{form.status}}</pre> -->

    <div class="form-group row">
      <label for="username" class="col-sm-2 col-form-label col-form-label-sm">Nick</label>
      <div class="col-sm-10">
        <input type="text" [ngClass]="{'is-invalid': form.get('username').errors && form.get('username').touched}"
          formControlName="username" class="form-control form-control-sm" placeholder="Nick">
        <div class="invalid-feedback">Podaj nick</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label col-form-label-sm">Imię</label>
      <div class="col-sm-10">
        <input formControlName="name" type="text" class="form-control form-control-sm" placeholder="Imię">
      </div>
    </div>

    <div class="form-group row">
      <label for="surname" class="col-sm-2 col-form-label col-form-label-sm">Nazwisko</label>
      <div class="col-sm-10">
        <input formControlName="surname" type="text" class="form-control form-control-sm" placeholder="Nazwisko">
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
      <div class="col-sm-10">
        <input type="email" [ngClass]="{'is-invalid': form.get('email').errors && form.get('email').touched}"
          formControlName="email" class="form-control form-control-sm" placeholder="Email">
        <div class="invalid-feedback">Podaj email</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="gender" class="col-sm-2 col-form-label col-form-label-sm">Płeć</label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input class="mr-3" type="radio" value="male" formControlName="gender">Mężczyzna
        </label>
        <label class="radio-inline ml-3">
          <input class="mr-3" type="radio" value="female" formControlName="gender">Kobieta
        </label>
      </div>
    </div>

    <div class="form-group row">
      <label for="height" class="col-sm-2 col-form-label col-form-label-sm">Wzrost</label>
      <div class="col-sm-10">
        <input type="text" pattern="[0-9]*" formControlName="height"
          [ngClass]="{'is-invalid': form.get('height').errors && form.get('height').touched}"
          class="form-control form-control-sm" placeholder="Wzrost">
        <div class="invalid-feedback">Tylko cyferki</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="weight" class="col-sm-2 col-form-label col-form-label-sm">Waga</label>
      <div class="col-sm-10">
        <input type="text" pattern="[0-9]*" formControlName="weight"
          [ngClass]="{'is-invalid': form.get('weight').errors && form.get('weight').touched}"
          class="form-control form-control-sm" placeholder="Waga">
        <div class="invalid-feedback">Tylko cyferki</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="registerDate" class="col-sm-2 col-form-label col-form-label-sm">Data rejestracji</label>
      <div class="col-sm-10">
        <input type="text" formControlName="registerDate" bsDatepicker [bsConfig]="bsConfig"
          class="form-control form-control-sm" placeholder="Data rejestracji">
      </div>
    </div>

    <div class="form-group row">
      <label for="enabled" class="col-sm-2 col-form-label col-form-label-sm">Czy aktywny?</label>
      <div class="col-sm-10">
        <input formControlName="enabled" class="form-check-input" type="checkbox">
      </div>
    </div>

    <ng-container formArrayName="roles">
      <label for="username">Role</label>
      <div class="form-check" *ngFor="let role of rolesFormControls; index as i">
        <ng-container [formGroupName]="i">
          <input formControlName="checked" class="form-check-input" type="checkbox">
          <label>{{role.value.name}}</label>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="submit" [disabled]="!form.dirty || !form.valid" class="btn btn-success">Submit</button>
  </div>
</form>
