<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">GymLog</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/user/logs']">Logs</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/exercises']">Exercises</a>
      </li>
      <li *appHasRole="['Admin']" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        {{ 'Welcome' | translate }} {{authService.decodedToken?.unique_name | titlecase}}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['member/edit']">
          <i class="fa fa-user"></i> {{ 'EditProfile' | translate }}</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">
          <i class="fa fa-sign-out"></i> {{ 'Logout' | translate }}</a>
      </div>
    </div>

    <form [formGroup]="form" *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" formControlName="username" placeholder="Username">
      <input class="form-control mr-sm-2" type="password" formControlName="password" placeholder="Password" required>
      <button [disabled]="!form.valid" class="btn btn-success my-2 my-sm-0"
        type="submit">{{ 'Login' | translate }}</button>
    </form>

    <button [disabled]="i18n.currentLang === 'pl'" class="btn btn-primary float-right"
      (click)="i18n.use('pl')">PL</button>
    <button [disabled]="i18n.currentLang === 'en'" class="btn btn-primary float-right"
      (click)="i18n.use('en')">EN</button>
  </div>
</nav>
